body {
  background-color: var(--color-ocean-green);
}

html,
body,
#root {
  margin: 0px;
  height: 100%;
  color: var(--color-mint-green);
}

.dnb-form-label, label {
  color: var(--color-mint-green);
}

.dnb-button--tertiary {
  color: var(--color-mint-green);
}


button:focus {
  outline: 0;
}

.error {
  border: 3px solid red !important;
}

.align-items-center {
  min-height: 100%;
}

.app-wrapper {
  height: 100%;
  padding: 1.5rem;
}

.background {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -50;
}

.background-bow {
  position: absolute;
  top: -450px;
  right: 0px;
  border-top-right-radius: 100%;
  height: 1000px;
  width: 125%;
  z-index: -50;
}

.background-block {
  position: absolute;
  top: 545px;
  height: 100%;
  width: 100%;
  z-index: -50;
}
