body {
    background-color: #a4e1d2;
}

html, body, #root {
    margin: 0px;
    height: 100%;
    font-family: 'Text Me One', sans-serif;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

.error {
    border: 3px solid red !important;
}

.align-items-center {
    min-height: 100%;
}

.app-wrapper {
    height: 100%;
}

.background {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -50;
}

.background-bow {
    position: absolute;
    top: -450px;
    right: 0px;
    background-color: #a4e1d2;
    border-top-right-radius: 100%;
    height: 1000px;
    width: 125%;
    z-index: -50;
}

.background-block {
    position: absolute;
    top: 545px;
    background-color: #a4e1d2;
    height: 100%;
    width: 100%;
    z-index: -50;
}