.checkbox-wrapper {
  margin-bottom: 0.5rem;
}

.button-row > #contact-button {
  margin: 0.5rem;
}

.contact-info-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
