.profile-segment-wrapper {
  text-align: center;
}

.profile-segment-header {
  margin: 0px 0px 15px 0px;
}

.profile-segment-info-column {
  margin-bottom: 25px;
}

.profile-segment-delete-contact-info-paragraph {
  margin-bottom: 15px;
  align-self: center;
}

.profile-segment-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
