.profile-segment-wrapper {
    text-align: center;
}

.profile-segment-header {
    margin: 0px 0px 15px 0px;
    font-size: 2.5em;
}

.profile-segment-info-column {
    margin-bottom: 25px;
}

.profile-segment-delete-contact-info-paragraph {
    margin-bottom: 15px;
    font-size: 1.5em;
    align-self: center;
}

.profile-segment-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-segment-button {
    padding: 10px;
    margin: 4px;
    align-self: center;
    border-radius: 50px;
    border: 1px solid #007272;
}

.profile-segment-contact-info-button {
    width: 80%;
    font-size: 1.5em;
    background: rgb(222,245,239);
}

.profile-segment-contact-info-button:active {
    background: rgb(202,239,230);
}

.profile-segment-delete-contact-info-button {
    width: 40%;
    font-size: 1.5em;
    background: rgb(255,229,232);
}

.profile-segment-delete-contact-info-button:active {
    background: rgb(255,204,209);
}

.profile-segment-return-button {
    width: 40%;
    font-size: 1.5em;
    background: rgb(222,245,239);
}

.profile-segment-return-button:active {
    background: rgb(202,239,230);
}