.question-segment-wrapper {
    text-align: center;
}

.floater-wrapper {
    position: fixed;
    top: 5%;
    color: black;
    background: rgb(207,239,232);
    background: rgba(222,245,239,75%);
    padding: 5px;
    width: 40%;
    box-sizing: border-box;
    text-align: center;
    z-index: -25;
}

.question-number-wrapper {
    left: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.question-timer-wrapper {
    right: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.question-header, .question-explanation {
    text-align: center;
}

.question-segment {
    margin-top: 10%;
}

.question-header {
    
}

.question-explanation {
    
}

.question-explanation {
    font-size: 1.5em;
}

.question-answer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.question-button {
    font-size: 1em;
    padding: 15px 4px;
    margin: 10px;
    align-self: center;
    border-radius: 50px;
    border: 1px solid #007272;
    background: rgb(222,245,239);
    font-family: 'Text Me One', sans-serif;
}

.question-button:active {
    background: rgb(202,239,230);
}

.question-answer-button {
    width: 85%;
}

.question-navigation-button {
    width: 30%;
}

.question-navigation-wrapper {
    justify-content: center;
}