.start-segment-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.start-segment-header {
    font-size: 2.5em;
}

.name-input {
    width: 90%;
    font-size: 2em;
    align-self: center;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #007272;
    background: #ffffff;
}

.difficulty-paragraph {
    margin: 25px;
    font-size: 1.5em;
}

.start-segment-button {
    width: 75%;
    margin: 4px;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 50px;
    align-self: center;
    border: 1px solid #007272;
    background: rgb(222,245,239);
}

.start-segment-button:active {
    background: rgb(202,239,230);
}

.easy-button {
    background-color: rgb(232,255,229);
}
.easy-button:active {
    background-color: rgb(209,255,204);
}

.medium-button {
    background-color: rgb(255,252,229);
}
.medium-button:active {
    background-color: rgb(255,249,204);
}

.hard-button {
    background-color: rgb(255,229,232);
}
.hard-button:active {
    background-color: rgb(255,204,209);
}

.leaderboard-button {
    margin: 25px 0px;
}

.profile-button {
    width: 50%;
}
