.score-segment-wrapper {
    text-align: center;
}

.score-segment-header {
}

.score-segment-paragraph {
    font-size: 1.3em;
}


.score-segment-button-wrapper {
    margin-bottom: 16px;
}

.score-segment-button {
    margin: 4px;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 50px;
    border: 1px solid #007272;
    background: rgb(222,245,239);
    font-family: 'Text Me One', sans-serif;
}

.score-segment-button:active {
    background: rgb(202,239,230);
}

.score-segment-contact-info-button {
    width: 75%;
}

.score-segment-return-button {
    width: 40%;
}

.score-segment-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score-segment-checkbox-paragraph {
    
    margin: 15px;
}

.score-segment-checkbox-checkbox {
    zoom: 5;
}