.start-segment-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dnb-form-set, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#name-input {
  width: 90%;
  color: var(--color-ocean-green);
}

.dnb-form-label,
label {
  color: var(--color-mint-green);
}

.difficulty-paragraph {
  margin: 25px;
}

#start-segment-button {
  width: 75%;
  margin: 4px;
  padding: 10px;
  align-self: center;
}

.start-segment-button:active {
  background: rgb(202, 239, 230);
}

.return-button {
  background: rgb(222, 245, 239);
  width: 50%;
}
.return-button:active {
  background: rgb(202, 239, 230);
}
