.score-segment-wrapper {
    padding: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.score-segment-header {
    font-size: 7em;
    margin: 15px;
}

.score-segment-paragraph {
    font-size: 4em;
    margin: 15px;
}

.score-segment-input-wrapper {
    margin: 35px 0;
}

.score-segment-input {
    width: 90%;
    font-size: 4em;
    padding: 15px;
    margin: 15px;
    align-self: center;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #007272;
    background: #ffffff;
    font-family: 'Text Me One', sans-serif;
}

.score-segment-button-wrapper {
    margin: 35px 0;
}

.score-segment-button {
    font-size: 4em;
    width: 55%;
    padding: 30px;
    margin: 20px;
    align-self: center;
    border-radius: 50px;
    border: 1px solid #007272;
    background: none;
    font-family: 'Text Me One', sans-serif;
}

.score-segment-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-segment-checkbox-paragraph {
    font-size: 3em;
    margin: 15px;
}

.score-segment-checkbox-checkbox {
    zoom: 5;
}